.footer{
    margin: 0;
    width: 100%;
    background-color: rgba(4, 10, 39);
    display: flex;
    justify-content: center;
}
.liste2{
    list-style-type: none;
    background-color: rgba(4, 10, 39);
    height: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
.items2{
    color: white;
    cursor: pointer;
    font-size: 40px;
}